.container{
	width:100vh;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.box{
	height:200px;
	width:200px;
	background-color:lightblue;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}